@model ProductViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Product.Name</h1>
<span>@Model.Product.Price</span>
<h1>@Model.IsInStock</h1>


<ul>
    @foreach (var review in Model.Review)
    {
        <li>@review</li>
    }

</ul>
